#container {
    padding: 1em 1em 100px 1em;
}

/* 유저 이동경로 */
#bread-nav {
    display: flex;
    font-size: 16px;
    padding-top: 20px;
}
#bread-nav li {
    color: #4D4D4D;
    text-decoration: none;
}
#bread-nav li:not(:last-child):hover {
    text-decoration: underline;
    color: #4D4D4D;
    cursor: pointer;
}
#bread-nav > ol {
    background-color: #dcdcdc;
    padding: 0.3em 1em;
    border-radius: 10px;
}
#bread-nav .active {
    color: #808080;
}
.description {
    font-size: 16px;
}
.img-card {
    width: 350px;
    height: 350px;
    margin-left: 20px;
}
.img-card a {
    z-index: 4;
    opacity: 0.4;
}
.imgs {
    margin-bottom: 100px;
}
.imgs img {
    width: 350px;
    height: auto;
}
.inputs-wrap {
    width: 1090px;
    margin-bottom: 100px;
}
.ck-editor__editable {
    min-height: 800px;
    line-height: normal;
    /*font-weight: 400;*/
    /*font-size: 19px;*/
}
.text-editor-wrap {
    width: 1090px;
}
.options-label {
    font-size: 14px;
}


/* 닫기 버튼 */
.btn-close-style {
    z-index: 150;
    position: absolute;
    border-radius: 12px;
    padding: 0.4em 1.1em;
    margin: 0.6em 0.6em;
    border: 2px solid #303030;
    font-size: 15px;
    color: #303030;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
}
.img-card:hover .btn-close-style {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
}
.btn-close-style:hover {
    background-color: rgba(255, 255, 255, 0.45);
    -webkit-transition: all 0.2s ease-in-out;
}