#container {
    padding: 1em 1em 300px 1em;
}

/* 유저 이동경로 */
#bread-nav {
    display: flex;
    font-size: 16px;
    padding-top: 20px;
}
#bread-nav li {
    color: #4D4D4D;
    text-decoration: none;
}
#bread-nav li:not(:last-child):hover {
    text-decoration: underline;
    color: #4D4D4D;
    cursor: pointer;
}
#bread-nav > ol {
    background-color: #dcdcdc;
    padding: 0.3em 1em;
    border-radius: 10px;
}
#bread-nav .active {
    color: #808080;
}
.mt-100 {
    margin-top: 100px;
}
.btn-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #333333;
    font-weight: 500;
    font-size: 30px;
    color: #333333;
    margin: 0.5em;
}
.btn-circle:hover {
    background-color: #4D4D4D;
    color: #f5f5f5;
    cursor: pointer;
    transition: all 0.3s;
}