/* 스크롤 최상단 이동 버튼 */
#moveToTop {
    z-index: 0;
    position: fixed;
    bottom: 4%;
    right: 3%;
    color: rgba(48, 48, 48, 0.3);
    font-size: 50px;
    background-color: transparent;
    border: none;
}

/* 메인 컨테이너 */
#container {
    background-color: #ffffff;
}

/* 썸네일-주문정보 */
.thumb-order {
    margin-bottom: 5em;
}

/* 유저 이동경로 */
#pt-70 {
    padding-top: 70px;
}
#bread-nav {
    display: flex;
    font-size: 15px;
    padding-top: 50px;
}
#bread-nav a {
    color: #4D4D4D;
    text-decoration: none;
}
#bread-nav a:hover {
    text-decoration: underline;
    color: #4D4D4D;
}
.scale-up:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

/* 썸네일 이미지 */
.thumbnails {
    width: 45%;
}

/* 주문 정보 */
.order-info {
    width: 46.5%;
}
.subheader {
    font-size: 16px;
    font-weight: 300;
    color: #808080;
}
.item-name {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.8em;
    padding-bottom: 0.3em;
}
.row {
    margin-bottom: 1.2em;
}
.discount-rate {
    font-size: 19px;
    font-weight: 600;
}
.original-price {
    font-size: 19px;
    font-weight: 300;
    color: #808080;
}
.fd-announcement {
    font-size: 16px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.point-color {
    color: #7DAF3B;
}
.inputs-wrap {
    font-size: 19px;
}
.count i {
    color: #c0c0c0;
    font-size: 23px;
}
.count i:hover {
    color: #9a9a9a;
    transition-duration: 0.3s;
    cursor: pointer;
}
.fw500 {
    font-weight: 500;
}
.form-check-label {
    font-size: 15px;
    color: #808080;
}
.price-box {
    background-color: #eeeeee;
    border-radius: 18px;
}
.btn-close-style {
    border: 1px solid #585858;
    width: 14px;
    height: 14px;
}
.sub-button {
    width: 49%;
    border-radius: 10px;
    background-color: #dbdbdb;
}
.main-button {
    width: 49%;
    border-radius: 10px;
    background-color: #ffc107;
}
.datepicker {
    border: 1px solid #dbdbdb;
    cursor: pointer;
}


/* 상품설명/리뷰/배송안내 탭 */
.showType-wrap {
    border-left: 1px solid #e1e1e1;
    margin-bottom: 4em;
}
.btn-show {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    font-size: 18px;
    color: #707070;
}
.btn-show:hover {
    cursor: pointer;
}
input[type=radio]:checked + .btn-show {
    border-bottom: 1px solid #ffffff;
    border-top: 3px solid #030303;
    color: #030303;
}


/* 클래스설명 */
#detail-area {
    /*height: 2000px;*/
    margin-bottom: 4em;
}

/* 리뷰 */
#review-area {
    margin : 4em 0;
}
.c-666 {
    color: #666666;
}
/* 리뷰 카테고리(꽃다발 베스트리뷰/이 상품의 리뷰) */
#review-area {
    margin-bottom: 4em;
}
.review-category {
    border-bottom: 1px solid #dbdbdb;
}
.btn-rev {
    font-size: 20px;
    color: #707070;
}
.btn-rev:hover {
    cursor: pointer;
}
input[type=radio]:checked + .btn-rev {
    border-bottom: 3px solid #030303;
    color: #030303;
    font-weight: 500;
}
.branchBtn {
    background-color: #eeeeee;
}

.branchBtn:hover {
    background-color: #f1a417;
}

.review-row {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.review-row:hover {
    background-color: #f1f0f0;
}

/* 이미지 정사각형 처리 */
.square {
    position: relative;
}

.square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square.wide::after {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.square.wide70::after {
    content: "";
    display: block;
    padding-bottom: 70%;
}

.square.wide80::after {
    content: "";
    display: block;
    padding-bottom: 80%;
}

.square > .inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.inner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}