<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PRODUCT">

    <!-- (C) 관리자가 상품 등록 -->
    <insert id="addProduct" parameterType="com.flo.alwaysbom.product.vo.ProductVo">
        INSERT INTO PRODUCT (IDX, CATEGORY, NAME, SUBHEADER, PRICE, DISCOUNT_RATE,
                            IMAGE1, IMAGE2, IMAGE3, CONTENT, FSIZE)
        VALUES      (NULL, #{category}, #{name}, #{subheader}, #{price}, #{discountRate},
                    #{image1}, #{image2}, #{image3}, #{content}, #{fsize})
        <selectKey keyProperty="idx" order="AFTER" resultType="int">
            SELECT  PRODUCT_SEQ.currval FROM DUAL
        </selectKey>
    </insert>


    <!-- (R) 카테고리별 조회 (vase or goods) -->
    <select id="findByCategory" parameterType="String" resultType="com.flo.alwaysbom.product.vo.ProductVo">
        SELECT      *
        FROM        PRODUCT
        WHERE       CATEGORY = #{category} AND DEL_STATUS IS NULL
        ORDER BY    IDX DESC
    </select>


    <!-- (R) 상품 전체 조회 (최신 등록순) -->
    <select id="findAll" resultType="com.flo.alwaysbom.product.vo.ProductVo">
        SELECT      *
        FROM        PRODUCT
        WHERE       DEL_STATUS IS NULL
        ORDER BY    IDX DESC
    </select>


    <!-- (R) 상품 인덱스로 상세페이지 조회 -->
    <select id="findByIdx" parameterType="Integer" resultType="com.flo.alwaysbom.product.vo.ProductVo">
        SELECT  *
        FROM    PRODUCT
        WHERE   DEL_STATUS IS NULL AND IDX = #{idx}
    </select>


    <!-- (R) 소품샵 베스트 리뷰 찾기 -->
    <select id="findBestReview" resultType="com.flo.alwaysbom.community.review.dto.ReviewDto">
        SELECT  RN, PP.*
        FROM    (
                    SELECT  ROWNUM RN, P.*
                    FROM    (
                                SELECT   *
                                FROM     REVIEW
                                WHERE    CATEGORY = '소품샵'
                                ORDER BY LIKE_COUNT DESC
                            ) P
                ) PP
        WHERE   RN BETWEEN 1 AND 10
    </select>


    <!-- (R) 해당 상품 인덱스의 리뷰 찾기 -->
    <select id="findReviewByIdx" parameterType="Integer" resultType="com.flo.alwaysbom.community.review.dto.ReviewDto">
        SELECT  *
        FROM    REVIEW
        WHERE   CATEGORY = '소품샵' AND PRODUCT_IDX = #{idx}
        ORDER BY REG_DATE DESC
    </select>


    <!-- (U) 관리자가 상품 수정 -->
    <update id="updateProduct" parameterType="com.flo.alwaysbom.product.vo.ProductVo">
        UPDATE  PRODUCT
        SET     CATEGORY = #{category},
                NAME = #{name},
                SUBHEADER = #{subheader},
                PRICE = #{price},
                DISCOUNT_RATE = #{discountRate},
                IMAGE1 = #{image1},
                IMAGE2 = #{image2},
                IMAGE3 = #{image3},
                CONTENT = #{content},
                SOLDOUT_STATUS = #{soldoutStatus},
                FSIZE = #{fsize}
        WHERE   IDX = #{idx}
    </update>


    <!-- (D) 관리자가 상품 삭제 -->
    <update id="deleteProduct" parameterType="Integer">
        UPDATE  PRODUCT
        SET     DEL_STATUS = 1
        WHERE   IDX = #{idx}
    </update>

    <!-- 이름으로 idx 찾기 -->
    <select id="findByName" parameterType="String" resultType="int">
        SELECT IDX
        FROM PRODUCT
        WHERE NAME = #{name}
    </select>


    <!-- (R) 현재 로그인한 유저가 해당 상품의 리뷰를 쓸 수 있는지 확인하는 쿼리 -->
    <select id="findAvailableOitemToReview" parameterType="map" resultType="com.flo.alwaysbom.order.vo.OitemVo">
        SELECT REV.*
        FROM
            (
                SELECT OITEM.*
                FROM OITEM
                         LEFT JOIN ORDERS
                                   ON ORDERS_IDX = ORDERS.IDX
                WHERE REVIEW_IDX IS NULL
                  AND CATEGORY = '소품샵'
                  AND ORDERS_IDX IN
                      (
                          SELECT IDX
                          FROM ORDERS
                          WHERE MEMBER_ID = #{memberId} AND STATUS = '배송완료'
                      )
            ) REV
                LEFT JOIN PRODUCT P
                          ON REV.NAME = P.NAME
        WHERE P.IDX = #{productIdx}
    </select>





</mapper>