<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faq">

    <select id="faqCategoryStrings" resultType="string">
        SELECT CATEGORY
        FROM FAQ
        GROUP BY CATEGORY
        ORDER BY MIN(IDX)
    </select>

    <select id="faqlist" parameterType="com.flo.alwaysbom.community.faq.vo.FaqVo" resultType="com.flo.alwaysbom.community.faq.vo.FaqVo">
        SELECT * FROM FAQ
        WHERE CATEGORY = #{category}
    </select>

    <delete id="faqDelete" parameterType="int">
        DELETE FROM FAQ WHERE IDX = #{idx}
    </delete>

    <insert id="faqInsert" parameterType="com.flo.alwaysbom.community.faq.vo.FaqVo">
        INSERT INTO FAQ(category, question, answer)
        VALUES (#{category}, #{question}, #{answer})
    </insert>
    
    <select id="faqOne" parameterType="int" resultType="com.flo.alwaysbom.community.faq.vo.FaqVo">
        SELECT * FROM FAQ
        WHERE IDX = #{idx}
    </select>

    <update id="faqUpdate" parameterType="com.flo.alwaysbom.community.faq.vo.FaqVo">
        UPDATE FAQ SET CATEGORY = #{category}, QUESTION = #{question}, ANSWER = #{answer}
        WHERE IDX = #{idx}

    </update>
<!--    <insert id="addHome" parameterType="com.chicken.kyochon.vo.HomeVo">
        INSERT INTO HOME(name, age, filename)
        VALUES (#{name}, #{age}, #{filename})
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT HOME_ID_SEQ.currval from dual
        </selectKey>
    </insert>

    <select id="list" resultType="com.chicken.kyochon.vo.HomeVo">
        SELECT * FROM HOME ORDER BY ID DESC
    </select>-->
</mapper>